@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-text-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}



/* navbar-related-styles */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(17, 17, 17);
    

}


.brand {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
    text-align: left;
    font-style: oblique;
    /* margin-left: 190px; */
    padding-left: 190px;

}


.nav-links {

    list-style-type: none;
    padding-right: 190px;


}

.list-items {

    display: flex;
    gap: 40px;
    width: 380px;
    height: 46px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* margin-right: 190px; */

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);


}


 button {
    border-radius: 46px;
    border: none;
    background-color: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
}