@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {}

.inter-text-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


/* header */
/* navbar-related-styles */

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    max-height: 100px;



}


.brand {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
    text-align: left;
    font-style: oblique;
    /* margin-left: 190px; */
    padding-left: 190px;

}


.nav-links {

    list-style-type: none;
    padding-right: 190px;


}

.list-items {

    display: flex;
    gap: 40px;
    width: 380px;
    height: 46px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* margin-right: 190px; */

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);


}


.home-button {
    border-radius: 46px;
    border: none;
    background-color: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
}



/* banner-related-styles */


.banner {


    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(41, 40, 40) 40%, rgb(41, 40, 40) 150%), linear-gradient(to bottom, rgba(114, 113, 113, 0.692) 0%, rgba(119, 119, 119, 0.25) 200%);
    background-blend-mode: multiply;
    left: -398px;
    top: -1296px;
    margin: 0;
    background-size: cover;




}

.banner-content {
    display: flex;
    max-width: 1440px;
    max-height: 700px;
    align-items: center;
    margin: 0 auto;
    gap: 87.95px;
}

.banner-content>.banner-img-card {
    position: relative;
    top: 150px;
    left: 40px;

}

.jcn,
.da {
    border-radius: 46px;
    border: none;
    background-color: rgb(230, 83, 60);
    /* width: 92px; */
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
}

.da {
    background-color: rgba(17, 17, 17, 0);
    border: 1px solid rgb(255, 255, 255);
}

.headline {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    width: 520px;
    height: 282px;
    margin-bottom: 80px;

}

.description {
    color: rgba(255, 255, 255, 0.5);
    ;
    font-size: 1rem;
    font-weight: 400;
    width: 520px;
    height: 48px;
    margin-bottom: 40px;


}

.text {
    margin-left: 190px;
}

.buttons {
    display: flex;
    gap: 14px;
}




#dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    /* font-size: 4.8rem; */
    font-weight: 900;
    font-style: normal;
    color: #ffdc00;
}

.banner-img-card>.card-box1 {
    display: flex;
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    top: -160px;
    left: -120px;

}

.card-text {
    color: white;

}

.red-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.banner-img-card>.card-box2 {

    width: 193px;
    height: 98px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    top: -560px;
    right: -230px;

}

#number1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#number2 {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 20px;
}

#vt {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0
}

#fwv {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65);

    font-size: 0.8rem;
    font-weight: 400;
}

.blackdiv {
    background-color: black;
    height: 100px;
}


/* main */
/* 1st-section-related-styles */


.havits {

    background-color: rgb(17, 17, 17);

}

.havit-title {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 900;

}

.havit-description {
    font-weight: 400;
    font-size: .87rem;
    color: rgba(255, 255, 255, 0.5);

}

.title-and-description {

    text-align: center;


}

.img-headline {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.125rem;
}

.img-text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
    margin-left: 10px;
    margin-right: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    margin-bottom: 100px;
}

.img-and-text {
    display: grid;

    height: 274px;
    width: 231px;
    justify-items: center;
}

.ht {
    text-align: center;
}

.img-decoration {
    border-radius: 90px;
    border: 3px solid rgb(34, 34, 34);
}

.extramile-headline {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    margin-top: 0;
}

.extramile-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    margin-bottom: 4px;
    width: 443px;
    height: 72px;
}

.extramile {
    /* border: 2px solid red; */
    width: 1060px;
    height: 371px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    ;
    margin: 0 auto;
    border-radius: 18px;
}

.run {
    border-radius: 18px;
    width: 450px;
    height: 312px;
    border: 1px solid silver;
}

/* 2nd section */
/* BMI-calculator related styles */

.calc-topic {

    width: 671px;
    height: 119px;
    margin: 0 auto;
}

.bmi-calculator {
    background-color: rgb(17, 17, 17);
}

.calc-heading {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

.calc-text {
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.calculator {
    display: flex;
    border: 1x solid red;
    height: 487px;
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    justify-content: center;

}

.calculate {
    width: 577px;
    height: 96px;
}

.chart {
    color: rgb(255, 255, 255);
    width: 443px;
    height: 34px;
    font-weight: 900;
    font-size: 1.75rem;
}

th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

table {
    background-color: rgb(34, 34, 34);
}

table,
tr,
th,
td {
    padding: 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: center;

}

table {
    height: 216px;
    width: 310px;

}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 168px;
    width: 577px;
    gap: 12px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.item5 {
    /* grid-column: span 2; */
    background-color: transparent;
}

.calculator-inputs {
    display: flex;
    flex-direction: column;
}

.cyb {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;

}

.cyb-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

input {
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.637);
    padding: 12px 40px;

    font-size: 1rem;
    font-weight: 400;


}

.down {
    display: flex;
    align-items: center;
    width: 282.5px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    justify-content: center;
}

.fa-solid {
    color: rgba(255, 255, 255, 0.637);
    position: relative;
    right: 45px;
    bottom: 5px;

    width: 12px;
    height: 6px;
}

.se {
    background-color: transparent;
}

.down2 {
    display: flex;
    align-items: center;

    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    grid-column: span 2;
}

.down2>.fa-solid {
    position: relative;
    right: -250px;
}

.age {
    height: 24px;
}

.meet-our-team {
    background-color: black;
}

.image-container {
    height: 604px;
    width: 1060px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-items: center;
    padding: 20px;
}

.trainer-and-text>.trainer {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    opacity: .7;
    border: 1px solid #ffdc00;


}

.trainer-text {
    position: relative;
    left: 25px;
    bottom: 80px;
    font-size: 1.4rem;
    font-weight: 600;
    color: aliceblue;
    margin: 0;
}

.mini-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: .87rem;
    font-weight: 400;
}

/* footer-related-styles */

.footer {


    height: 489px;
    background-color: rgb(24, 24, 24);
}

.footer-text {
    height: 249px;
    width: 1059px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

}

.fft {

    height: 176px;
    width: 443px;

}

.fit {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 4.37rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

.ft {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.87rem;
    font-weight: 400;
}

.get-started {

    height: 249px;
    width: 514px;
    display: flex;
    justify-content: space-between
}

.gsh {
    color: rgb(255, 255, 255);

    font-size: 2rem;
    font-weight: 700;
}

.gst {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 20px;
}

.hr {

    margin: 79px auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.copyright {   
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(24, 24, 24);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.line{
    background: rgba(255, 255, 255, 0.1);
    width: 1060px;
    height: 1px;
    border: 0px;
    
}