@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.inter-text-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


/* header */
/* navbar-related-styles */

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    max-height: 100px;



}


.brand {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
    text-align: left;
    font-style: oblique;
    /* margin-left: 190px; */
    padding-left: 190px;

}


.nav-links {

    list-style-type: none;
    padding-right: 190px;


}

.list-items {

    display: flex;
    gap: 40px;
    width: 380px;
    height: 46px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* margin-right: 190px; */

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);


}


.home-button {
    border-radius: 46px;
    border: none;
    background-color: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
}



/* banner-related-styles */


.banner {


    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(41, 40, 40) 40%, rgb(41, 40, 40) 150%), linear-gradient(to top, rgba(255, 255, 255, 0.692) 0%, rgba(119, 119, 119, 0.25) 200%);
    background-blend-mode: multiply;
    left: -398px;
    top: -1296px;

    background-size: cover;



}

.banner-content {
    display: flex;
    max-width: 1440px;
    max-height: 700px;
    align-items: center;
    margin: 0 auto;
    gap: 87.95px;
}

.banner-content>.banner-img-card {
    position: relative;
    top: 150px;
    left: 40px;

}

.jcn,
.da {
    border-radius: 46px;
    border: none;
    background-color: rgb(230, 83, 60);
    /* width: 92px; */
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
}

.da {
    background-color: rgba(17, 17, 17, 0);
    border: 1px solid rgb(255, 255, 255);
}

.headline {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    width: 520px;
    height: 282px;
    margin-bottom: 80px;

}

.description {
    color: rgba(255, 255, 255, 0.5);
    ;
    font-size: 1rem;
    font-weight: 400;
    width: 520px;
    height: 48px;
    margin-bottom: 40px;


}

.text {
    margin-left: 190px;
}

.buttons {
    display: flex;
    gap: 14px;
}




#dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    /* font-size: 4.8rem; */
    font-weight: 900;
    font-style: normal;
}

.banner-img-card>.card-box1 {
    display: flex;
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    top: -160px;
    left: -120px;

}

.card-text {
    color: white;

}

.red-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.banner-img-card>.card-box2 {

    width: 193px;
    height: 98px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    top: -560px;
    right: -230px;

}

#number1 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#number2 {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 20px;
}

#vt {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0
}

#fwv {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65);

    font-size: 0.8rem;
    font-weight: 400;
}

.blackdiv {
    background-color: black;
    height: 100px;
}


/* main */
/* 1st-section-related-styles */


.havits {

    background-color: rgb(17, 17, 17);

}

.havit-title {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 900;

}

.havit-description {
    font-weight: 400;
    font-size: .87rem;
    color: rgba(255, 255, 255, 0.5);
}

.title-and-description {

    text-align: center;


}

.img-headline {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.125rem;
}

.img-text {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
    margin-left: 10px;
    margin-right: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.img-and-text {
    display: grid;

    height: 274px;
    width: 231px;
    justify-items: center;
}

.ht {
    text-align: center;
}

.img-decoration {
    border-radius: 90px;
    border: 3px solid rgb(34, 34, 34);
}

.extramile-headline {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    margin-top: 0;
}

.extramile-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    margin-bottom: 4px;
    width: 443px;
    height: 72px;
}

.extramile {
    /* border: 2px solid red; */
    width: 1060px;
    height: 371px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);;
    margin: 100px auto;
    border-radius: 18px;
}

.run {
    border-radius: 18px;
    width: 450px;
    height: 312px;
    border: 1px solid silver;
}